$font1: "SF Pro Display";
$font2: "Linearicons-Free";

$grey :rgba(black, 0.8);
$color_dark_grey : #2c2d33;
$dark :#1e1f20;
$primary :#ff6161;
$secondary :#8bb33b;
$altsection: #f4f4f4;
$blue: #2BC8EC;