@import 'compass';
@import 'bootstrap/mixins';
@import 'bootstrap/functions';
@import 'bootstrap/variables';
@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;300;400;500;600;700&display=swap');

/*===============================================
=            Global classes for tags            =
===============================================*/
body {
  font-family: 'Barlow', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  color: $grey;
  -webkit-font-smoothing: antialiased;
}

input {
  &[type="text"],
  &[type="email"],
  &[type="password"] {
    height: 50px;
    width: 100%;
    border: solid 1px #999;
    padding: 5px 15px;
    color: #000;
    font-weight: 500;
    margin: 0 0 11px 0;
    @include transition(all 0.3s ease-in-out);
    @include border-radius(0);

    @include input-placeholder {
      color: rgba(black, 0.8);
    }

    @media (max-width:599px) {
      height: 50px;
    }

    &:focus {
      border: solid 2px rgba($primary, 1);
      outline: 0 !important;
    }

    &:not(.error) {
      & + span {
        & + label {
          font-size: 0;
        }

      }

    }

    @include input-placeholder {
      color: $primary;
    }

  }

}

select.form-select{
  height: 50px;
  width: 100%;
  border: solid 1px #999;
  padding: 5px 15px;
  color: #000;
  font-weight: 500;
  margin: 0 0 11px 0;
  @include transition(all 0.3s ease-in-out);
  @include border-radius(0);
  @include input-placeholder {
    color: rgba(black, 0.8);
  }
}

textarea {
  overflow: auto;
  border: solid 2px rgba($primary, 0.1);
  @include border-radius(3px);
  padding: 19px;
  margin: 0 0 15px 0;
  font-weight: 500;
  width: 100%;
  @include transition(all 0.3s ease-in-out);

  @include input-placeholder {
    color: rgba(black, 0.8);
  }

  @media (max-width:599px) {
    padding: 10px;
  }

  &:focus {
    border: solid 2px rgba($primary, 1);
    outline: 0 !important;
  }

  @include input-placeholder {
    color: $primary;
  }

}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px;
  color: $primary;
  line-height: 1.2;

  &.grey {
    color: $grey;
  }

}

h1,
h2,
h3,
h4 {
  letter-spacing: -0.04em;
  font-weight: 400;
}

h1 {
  font-size: 52px;

  @media (max-width:767px) {
    font-size: 32px;
  }

}

h2 {
  font-size: 48px;

  @media (max-width:767px) {
    font-size: 27px;
  }

}

h3 {
  font-size: 32px;

  @media (max-width:991px) {
    font-size: 27px;
  }

}

h4 {
  font-size: 30px;

  @media (max-width:991px) {
    font-size: 25px;
  }

}

h5 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
}

h6 {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 10px;
}

a {
  color: $primary;
  text-decoration: none;

  &:hover {
    color: black;
    text-decoration: none;
  }

}

hr {
  margin: 45px 0 43px 0;
  border-top: 1px solid rgba($primary, 0.2);

  @media (max-width:767px) {
    margin: 35px 0;
  }

}

/*===== backgraound images =====*/
.bg-01 {
  background-image: url(../images/bg_01.jpg);
}

/*===== end bg img ====*/

/*===============================================
=                 Login page                   =
===============================================*/

/*======================================
=            Global classes            =
======================================*/

.btn {
  &.btn-default {
    @include border-radius(3px);
    letter-spacing: -0.03em;
    color: white;
    background: $primary;
    font-size: 16px;
    padding: 14px 37px;
    border-color: $primary;
    font-weight: 600;
    @include transition(all 0.3s ease-in-out);

    &:hover {
      background: white;
      color: $primary;
    }

  }

  &.btn-thin {
    padding: 9px 26px;
    letter-spacing: 0.02em;
  }

}

.de-link-icon {
  color: $primary;

  i {
    font-size: 11px;
    display: inline-block;
    margin-left: 5px;
    vertical-align: top;
  }

  &:hover {
    color: black;
    text-decoration: none;
  }

}

.bootstrap-select {
  width: 100% !important;
  margin-bottom: 15px;

  &.open {
    >.btn-default {
      &.dropdown-toggle {
        color: $primary;
        background-color: white;
        border-color: rgba($primary, 0.1);
        @include box-shadow(none !important);
      }

    }

  }

  select {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border: none;
    opacity: 0;
  }

  .dropdown-toggle {
    .filter-option {
      vertical-align: middle;
      letter-spacing: 0.01em;
      line-height: 26px;
      color: $primary;
    }

    .caret {
      right: 15px;
      border: none;
      width: 13px;

      &:before {
        content: '\63';
        font-family: "acro";
        font-size: 13px;
        display: inline-block;
        position: absolute;
        top: 50%;
        @include transform(translateY(-40%));
      }

    }

  }

  .btn {
    width: 100%;
    text-align: left;
    position: relative;
    border: none;
    @include box-shadow(none !important);
    outline: none !important;
    @include border-radius(0);
    padding: 16px 15px;
    font-size: 16px;
    font-weight: 500;
    background-color: white;
    color: $primary;
    font-weight: 500;
    border: solid 2px rgba($primary, 0.1);
    @include border-radius(3px);

    &:hover,
    &:focus,
    &:active {
      outline: none !important;
    }

    &:after {
      position: absolute;
      right: 20px;
      top: 50%;
      margin-top: -3px;
      color: #9b9b9b;
    }

  }

  .dropdown-menu {
    width: 100%;
    border: solid 2px rgba($primary, 0.1);
    @include border-radius(0);
    background: white;
    top: 94%;

    &.inner {
      position: static;
      display: block;
      border: none;
      @include box-shadow(none);
      @include border-radius(0);
      background: none;

      li {
        &:after {
          content: '';
          width: calc(100% - 24px);
          margin-left: 12px;
          display: block;
          height: 1px;
          background: #ebebeb;
        }

        &:last-child {
          &:after {
            display: none;
          }

        }

        a {
          display: block;
          color: $primary;
          font-size: 16px;
          font-weight: 500;
          padding: 13px 12px;

          &:hover,
          &:focus,
          &:active {
            background: rgba($primary, 0.1);
            color: $primary;
          }

        }

        &.selected {
          a {
            background: rgba($primary, 0.1);
            outline: none;
          }

          &:after {
            display: none;
          }

        }

      }

    }

    &.open {
      @include box-shadow(none);
      border-top: solid 1px rgba(79, 83, 183, 0.1);
    }

  }

}

.de-underline {
  text-decoration: underline;
}

.alert {
  border: none;
  color: white;
  font-weight: 500;
  padding: 17px 20px;
}

.alert-success {
  background-color: #197b30;
}

.alert-danger {
  background-color: #bb0b10;
}

/*=====  End of Global classes  ======*/

/*===========================================
=            Navigation and Logo            =
===========================================*/
.navbar {
  .navbar-brand {
    height: auto;
    padding-top: 0;
    padding-bottom: 0;

    > img {
      width: 170px;
      max-width: 200px;
    }

  }

  .navbar-nav {
    .nav-item {
      .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
        outline: none !important;
        transition: all 0.2s linear;
        color: #000;
        font-weight: 600;
        font-size: 18px;

        @media (max-width:991px) {
          padding-left: 0;
        }

        &:hover {
          color: $primary;
        }

      }

      &.dropdown {
        .nav-link {
          padding-right: 2rem;
          transition: all 0.2s linear;

          &::after {
            display: none;
          }

          &::before {
            content: '\62';
            position: absolute;
            right: 13px;
            top: 10px;
            font-family: "acro";
            font-size: 10px;
            transition: all 0.2s linear;
          }

        }

      }

      &.show {
        .nav-link::before {
          transform: rotate(-180deg);
          transition: all 0.2s linear;
        }

      }

      .dropdown-menu {
        border: none;
        box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
        margin-top: 25px;
        padding: 15px;

        @media (max-width:991px) {
          border: none;
          box-shadow: none;
          margin-top: 0;
          padding: 15px;
          background-color: #f5f5f5;
        }

      }

    }

  }

  .navbar-collapse {
    justify-content: flex-end;
  }

  .navbar-toggler {
    position: relative;
    margin-right: 20px;
    padding: 0;
    width: 50px;
    height: 50px;
    border: none;
    @include border-radius(10px);
    background-color: #ff6161;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    @include media-breakpoint-down(sm) {
      width: 32px;
    }

    @media (max-width:991px) {
      order: 4;
      position: absolute;
      top: 30px;
      right: 20px;
      z-index: 999;
      width: 50px;
    }

    @media (max-width:480px) {
      right: 0;
    }

    span {
      display: block;
      position: absolute;
      height: 2px;
      width: 50%;
      background: white;
      opacity: 1;
      @include transform(rotate(0deg));
      @include transition(.25s ease-in-out !important);

      &:nth-child(even) {
        left: 50%;
        @include border-radius(0 9px 9px 0);
      }

      &:nth-child(odd) {
        left: 0px;
        @include border-radius(9px 0 0 9px);
      }

      &:nth-child(1),
      &:nth-child(2) {
        top: 8px;
      }

      &:nth-child(3),
      &:nth-child(4) {
        top: 17px;
      }

      &:nth-child(5),
      &:nth-child(6) {
        top: 26px;
      }

      &:nth-child(1),
      &:nth-child(3),
      &:nth-child(5) {
        left: 3px;
      }

      &:nth-child(2),
      &:nth-child(4),
      &:nth-child(6) {
        left: auto;
        right: 3px;
      }

    }

    &.open {
      span {
        &:nth-child(1),
        &:nth-child(6) {
          @include transform(rotate(45deg));
        }

        &:nth-child(2),
        &:nth-child(5) {
          @include transform(rotate(-45deg));
        }

        &:nth-child(1) {
          left: 5px;
          top: 7px;
        }

        &:nth-child(1) {
          left: 5px;
          top: 13px;
        }

        &:nth-child(2) {
          left: calc(50% - 5px);
          top: 13px;
        }

        &:nth-child(3) {
          left: -50%;
          opacity: 0;
        }

        &:nth-child(4) {
          left: 100%;
          opacity: 0;
        }

        &:nth-child(5) {
          left: 5px;
          top: 23px;

          @include media-breakpoint-down(sm) {
            top: 19px;
          }

        }

        &:nth-child(6) {
          left: calc(50% - 5px);
          top: 23px;

          @include media-breakpoint-down(sm) {
            top: 19px;
          }

        }

      }

    }

    &:focus {
      border: none;
      outline: 0;
    }

  }

}

header.de-header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
}

nav.navbar.navbar-expand-lg {
  justify-content: space-between;
  padding: 15px;

  a.navbar-brand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0 !important;

    img {
      width: auto;
      max-width: auto;

      @media (max-width:1100px) {
        max-width: 130px;
      }

    }

  }

}

ul.navbar-nav {
  padding: 0;
  margin: 0;
  display: flex;

  li.top-level-link {
    list-style: none;
  }

}

ul.navbar-nav li a {
  font-size: 20px;
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
  opacity: 0.8;
  padding: 0 20px;
  position: relative;
  transition: all 0.2s;

  @media (max-width:1100px) {
    font-size: 14px;
  }

  @media (max-width:991px) {
    padding-bottom: 10px;
  }

  &:hover {
    color: #ff6161;
  }

}

ul.navbar-nav li a:after {
  content: "";
  right: -1px;
  top: 5px;
  height: 17px;
  width: 2px;
  background-color: #000;
  position: absolute;

  @media (max-width:991px) {
    display: none;
  }

}

ul.navbar-nav li:last-child a:after {
  display: none;
}

nav.navbar.navbar-expand-lg a.navbar-brand:after {
  position: absolute;
  content: "";
  width: 380px;
  height: 380px;
  background-color: #ff6161;
  left: -60px;
  top: -180px;
  z-index: -2;
  border-radius: 50%;

  @media (max-width:1100px) {
    position: absolute;
    content: "";
    width: 380px;
    height: 380px;
    background-color: #ff6161;
    left: -110px;
    top: -200px;
    z-index: -2;
    border-radius: 50%;
  }

  @media (max-width:991px) {
    display: none;
  }

}

nav.navbar.navbar-expand-lg a.navbar-brand:before {
  position: absolute;
  content: "";
  width: 380px;
  height: 380px;
  background-color: #ffffff;
  left: -100px;
  top: -205px;
  z-index: -1;
  border-radius: 60%;

  @media (max-width:1100px) {
    position: absolute;
    content: "";
    width: 370px;
    height: 360px;
    background-color: #ffffff;
    left: -130px;
    top: -195px;
    z-index: -1;
    border-radius: 60%;
  }

  @media (max-width:991px) {
    display: none;
  }

}

section.de-top-banner {
  position: relative;
  padding-top: 260px;
  width: 100%;
  z-index: 9;
  overflow: hidden;

  @media (max-width:991px) {
    padding-top: 200px;
  }

  &::after {
    content: "";
    background: url("../images/bg-3.png");
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    background-position: right top;
    background-repeat: no-repeat;
    transform: translate(20%, -3%);
    background-size: contain;

    @media (max-width:1500px) {
      transform: translate(30%, -3%);
    }

    @media (max-width:1100px) {
      transform: translate(40%, -3%);
    }

    @media (max-width:991px) {
      transform: translate(56%, -3%);
      opacity: 0.1;
    }

  }

  &.de-contact-bg{
    &::after {
      opacity: 0.1;
    }
  }
}

body {
  overflow-x: hidden;
}

.de-left-text {
  h2 {
    color: #000;
    font-size: 50px;
    font-weight: 700;
    margin-top: 25px;

    @media (max-width:1500px) {
      font-size: 34px;
    }

    @media (max-width:1100px) {
      font-size: 24px;
    }

  }

  h4 {
    color: #ff6161;
    font-size: 36px;
    margin-top: 0;
    font-weight: 600;

    @media (max-width:1500px) {
      font-size: 26px;
    }

    @media (max-width:1100px) {
      font-size: 18px;
    }

  }

  p {
    color: #666;
    font-size: 18px;
    line-height: 34px;
    padding-right: 130px;
    font-weight: 600;

    @media (max-width:1500px) {
      font-size: 16px;
      line-height: 27px;
    }

    @media (max-width:1100px) {
      font-size: 16px;
      line-height: 26px;
      padding-right: 60px;
    }

  }

}

a.de-btn {
  background: #39bcc1;
  font-size: 24px;
  padding: 20px 35px;
  display: inline-block;
  margin-top: 20px;
  color: #fff;
  border-radius: 0 30px 30px 30px;
  transition: all 0.2s;

  @media (max-width:1500px) {
    font-size: 20px;
    padding: 20px 30px
  }

  &:hover {
    background: #ff6161;
  }

}

a.de-btn-2 {
  background: #ff6161;
  font-size: 24px;
  padding: 20px 35px;
  display: inline-block;
  margin-top: 20px;
  color: #fff;
  border-radius: 0 30px 30px 30px;
  transition: all 0.2s;

  @media (max-width:1500px) {
    font-size: 20px;
    padding: 20px 30px
  }

  &:hover {
    background: #39bcc1;
  }

}

.container {
  max-width: 80%;

  @media (max-width:1500px) {
    max-width: 98%;
  }

}

ul.navbar-nav {
  margin-right: 200px;

  @media (max-width:1500px) {
    margin-right: 80px;
  }

  @media (max-width:1100px) {
    margin-right: 0;
  }

}

section.de-top-banner-menu {
  margin-top: -140px;
  z-index: 0;
  position: relative;
  background-position: top !important;
  background-repeat: no-repeat !important;
  background-size: 105% !important;

  @media (max-width:991px) {
    margin-top: 0px;
    z-index: 0;
    position: relative;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: 100% !important;

    @media (max-width:480px) {
      background: none !important;
    }

  }

  .de-dish-wrap {
    display: flex;
    max-width: 65%;
    justify-content: space-between;
    margin-top: 180px;

    @media (max-width:1500px) {
      margin-top: 270px;
      max-width: 80%;
    }

    @media (max-width:480px) {
      max-width: 100%;
      flex-wrap: wrap;
      margin-top: 80px;
    }

    a.de-dish-1:nth-child(2) {
      margin-top: -40px;
    }

    a.de-dish-1:nth-child(3) {
      margin-top: -40px;

      @media (max-width:1500px) {
        margin-top: -80px;
      }

      @media (max-width: 767px){
         margin-top: -40px;
      }

    }

        a.de-dish-1:nth-child(4) {
      margin-top: -80px;

      @media (max-width:1500px) {
        margin-top: -120px;
      }
         @media (max-width: 767px){
         margin-top: -40px;
      }

    }

    a.de-dish-1 {
      text-align: center;

      @media (max-width:480px) {
        width: 100%;
        margin-bottom: 80px !important;
      }

    }

    h4 {
      color: #000;
      font-size: 22px;
      margin-top: 15px;
      font-weight: 500;
    }

    @media (max-width:991px) {
      max-width: 100%;
    }

  }

}

.de-left-text {
  padding-bottom: 90px;

  @media (max-width:991px) {
    padding-bottom: 50px;
  }

}

section.de-top-banner {
  z-index: 9;
}

section.de-about-section {
  background-repeat: no-repeat !important;
  background-size: 600px !important;
  background-position: -190px 0px !important;
  position: relative;
  margin-top: 60px;
  padding-top: 60px;

  @media (max-width:1500px) {
    background-size: 500px !important;
  }

  @media (max-width:991px) {
    background-size: 300px !important;
    background-position: -100px 0px !important;
  }

  @media (max-width:667px) {
    background-size: 100% !important;
    background-position: top center !important;
  }

  &:after {
    position: absolute;
    left: -280px;
    width: 450px;
    height: 450px;
    border-radius: 75px;
    content: "";
    background-color: #ff6161;
    z-index: -1;
    top: 0;
    transform: rotate(70deg);

    @media (max-width:1500px) {
      width: 350px;
      height: 350px;
    }

    @media (max-width:991px) {
      width: 350px;
      height: 350px;
      top: -40px;
    }

  }

}

.de-about-top {
  padding-left: 400px;
  margin-bottom: 50px;
  position: relative;

  @media (max-width:1500px) {
    padding-left: 300px;
  }

  @media (max-width:991px) {
    padding-left: 230px;
  }

  @media (max-width:667px) {
    padding-left: 15px;
    padding-top: 290px;
  }

  @media (max-width:400px) {
    padding-left: 15px;
    padding-top: 220px;
  }

  h2 {
    font-size: 54px;
    margin-bottom: 10px;
    color: #000;
    font-weight: 700;
    position: relative;
    padding-top: 40px;

    @media (max-width:1500px) {
      font-size: 40px;
    }

    @media (max-width:991px) {
      font-size: 30px;
    }

    &:after {
      content: "";
      background-color: #ff6161;
      height: 11px;
      width: 130px;
      position: absolute;
      top: 15px;
      left: 0;
      border-radius: 50px;

      @media (max-width:991px) {
        content: "";
        background-color: #ff6161;
        height: 8px;
        width: 110px;
        position: absolute;
        top: 20px;
        left: 0;
        border-radius: 50px;
      }

    }

  }

  h4 {
    color: #000;
    font-size: 32px;
    font-weight: 600;

    @media (max-width:1500px) {
      font-size: 24px;
    }

    @media (max-width:991px) {
      font-size: 20px;
      margin-bottom: 10px;
    }

  }

  p {
    font-size: 20px;
    color: #000;
    font-weight: 500;
    line-height: 29px;

    @media (max-width:1500px) {
      font-size: 20px;
    }

    @media (max-width:991px) {
      font-size: 16px;
      line-height: 28px;
    }

  }

}

.de-about-top-2 {
  padding-top: 80px;

  h4 {
    color: #000;
    font-size: 34px;
    font-weight: 600;

    @media (max-width:1100px) {
      font-size: 26px;
    }

  }

  p {
    font-size: 20px;
    color: #000;
    font-weight: 500;
    line-height: 29px;

    @media (max-width:1100px) {
      font-size: 18px;
      line-height: 30px;
    }

  }

  @media (max-width:991px) {
    padding-top: 0px;
  }

}

.de-about-top-2 img.img-fluid {
  margin-top: -110px;
  max-width: 90%;
  padding-left: 50px;

  @media (max-width:1500px) {
    margin-top: -30px;
    max-width: 90%;
    padding-left: 50px;
  }

  @media (max-width:991px) {
    margin-top: 20px;
    max-width: 100%;
    padding-left: 0;
    width: 40%;
    margin-bottom: 35px;
  }

}

.de-offer-inner-wrap {
  text-align: center;
  position: relative;
  margin-top: 50px;
  margin-bottom: 0px;
  height: 100%;
}

.de-offer-inner-wrap > img {
  width: 100%;

  @media (max-width:991px) {
    display: none;
  }

}

.row.de-text-wrapper {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  width: 100%;

  @media (max-width:991px) {
    position: relative;
    left: 0;
    top: 0;
    transform: none;
    width: 100%;
  }

}

@media (max-width:1500px) {
  .row.de-text-wrapper img.img-fluid {
    max-width: 80%;
  }

}

.de-offer-inner-wrap h2 {
  font-size: 36px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  text-align: left;

  @media (max-width:1500px) {
    font-size: 30px;
  }

  @media (max-width:1100px) {
    font-size: 26px;
  }

  @media (max-width:991px) {
    color: #ff6161;
    margin-top: 30px;
  }

}

.de-offer-inner-wrap p {
  font-size: 24px;
  text-align: left;
  color: #fff;
  line-height: 30px;
  font-weight: 600;

  @media (max-width:1500px) {
    font-size: 20px;
    text-align: left;
    color: #fff;
    line-height: 34px;
    font-weight: 600;
    max-width: 80%;
  }

  @media (max-width:1100px) {
    font-size: 16px;
    line-height: 28px;
  }

  @media (max-width:991px) {
    color: #ff6161;
    margin-top: 30px;
  }

}

.de-title-wrap h2 {
  text-align: right;
  color: #000;
  font-size: 54px;
  font-weight: 700;
  margin-bottom: 70px;
  margin-top: 0;
  position: relative;

  @media (max-width:1500px) {
    font-size: 40px;

    img {
      max-width: 50px;
    }

  }

  @media (max-width:1100px) {
    font-size: 30px;
  }

}

.de-title-wrap h2:after {
  content: "";
  height: 12px;
  width: 160px;
  background-color: #ff6161;
  position: absolute;
  right: 0px;
  top: -60px;
  border-radius: 30px;

  @media (max-width:1100px) {
    top: -30px;
    width: 120px;
  }

}

.de-heart-inner {
  position: relative;
  padding: 40px;
  box-shadow: 0px 18px 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 240px;
  text-align: center;
  padding-bottom: 100px;
  margin-top: 70px;
  max-width: 320px;
  width: 100%;
}

.de-heart-inner img.img-fluid {
  max-width: 70%;
  margin-top: -110px;
}

.de-heart-inner h4 {
  font-size: 28px;
  color: #58bc98;
  font-weight: 700;
  margin-top: 20px;

  @media (max-width:1100px) {
    font-size: 22px;
  }

}

.de-heart-type-2 h4 {
  color: #ffc408;
}

.de-heart-type-3 h4 {
  color: #ff6161;
}

.de-heart-inner.de-heart-type-2 {
  margin-top: 180px;
}

.de-heart-inner.de-heart-type-3 {
  margin-top: 260px;
}

.de-heart-inner p {
  font-size: 22px;

  @media (max-width:1100px) {
    font-size: 16px;
  }

}

section.de-love-us-section {
  margin-bottom: 0;
}

section.de-shape-section {
  margin-top: -110px;

  @media (max-width:991px) {
    margin-top: 0;
  }

}

.de-love-us-section .de-heart-inner {
  min-height: 675px;

  @media (max-width:1500px) {
    min-height: 645px;
  }

  @media (max-width:1100px) {
    min-height: 585px;
  }

  @media (max-width:667px) {
    min-height: auto;
  }

}

.de-love-us-section .col-lg-4 .de-heart-inner {
  margin-right: 30px;

  @media (max-width:991px) {
    margin-right: 0;
  }

}

.de-love-us-section .col-lg-4:nth-child(3) .de-heart-inner {
  margin-right: 0;
}

.de-love-us-section .col-lg-4:last-child .de-heart-inner {
  margin-right: 0;
  margin-left: 30px;

  @media (max-width:991px) {
    margin-left: 0;
  }

}

section.de-family-section {
  background: #effcfc;
}

section.de-family-section h2 {
  text-align: left;
  position: relative;
  margin-bottom: 10px;
}

section.de-family-section h2:after {
  left: 0;
  top: -40px;
}

section.de-family-section h4 {
  font-size: 30px;
  font-weight: 600;

  @media (max-width:1500px) {
    font-size: 26px;
  }

  @media (max-width:1100px) {
    font-size: 24px;
    margin-bottom: 10px;
  }

}

section.de-family-section p {
  font-size: 20px;
  font-weight: 600;
  max-width: 70%;
  line-height: 29px;
  margin-bottom: 60px;

  @media (max-width:1500px) {
    font-size: 20px;
    font-weight: 600;
    max-width: 70%;
    line-height: 26px;
    margin-bottom: 40px;
  }

  @media (max-width:1100px) {
    font-size: 16px;
  }

}

.de-love-inner span.de-love-wrap img.img-fluid {
  position: absolute;
  left: 50%;
  top: 0;
  width: 80%;
  transform: translate(-50%, 0);
}

.de-love-inner {
  position: relative;
  z-index: 1;
  text-align: center;

  &:hover {
    .de-love-wrap {
    }

  }

}

.de-love-inner span.de-love-wrap {
  display: inline-block;
}

.de-love-inner span.de-love-wrap img.img-fluid.de-shape-outline {
  z-index: -1;
}

span.de-love-image img.img-fluid {
  max-width: 50%;
}

span.de-love-image {
  z-index: 9;
  position: relative;
  padding: 0;
  text-align: center;
  height: 380px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width:1500px) {
    height: 270px;
  }

  @media (max-width:1100px) {
    height: 220px;
  }

}

.de-love-inner span.de-love-wrap {
  display: inline-block;
  width: 100%;
}

.de-love-inner span.de-love-wrap img.img-fluid {
  position: absolute;
  left: 50%;
  top: 0;
  width: 80%;
  transform: translate(-50%, 0);
}

section.de-family-section .de-love-inner h4 {
  font-size: 30px;
  text-align: left;
  padding-left: 100px;
  margin-top: 10px;
  margin-bottom: 40px;
  color: #000;
  font-weight: 500;
  text-transform: uppercase;

  @media (max-width:1500px) {
    font-size: 25px;
    padding-left: 100px;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  @media (max-width:1100px) {
    font-size: 20px;
    padding-left: 40px;
    margin-top: 50px;
    margin-bottom: 40px;
  }

}

.de-love-inner {
  margin-top: 180px;

  @media (max-width:991px) {
    margin-top: 180px;
    max-width: 35%;
    margin: 0 auto !important;
  }

  @media (max-width:667px) {
    max-width: 45%;
  }

  @media (max-width:480px) {
    max-width: 75%;
  }

  @media (max-width:400px) {
    max-width: 100%;
  }

}

.de-love-inner.de-love-inner-2 {
  margin-top: 40px;
}

.de-love-inner.de-love-inner-3 {
  margin-top: -80px;
}

section.de-shape-section.de-shape-section-2 {
  margin-top: -330px;
  margin-right: 0;

  @media (max-width:1100px) {
    margin-top: -200px;
  }

  @media (max-width:400px) {
    margin-top: -60px;
  }

}

.de-business-image {
  text-align: center;
  margin-bottom: 80px;
  width: 100%;
  margin-top: 50px;
}

.de-business-image img.img-fluid {
  width: 100%;
}

.de-business-text h2 {
  font-size: 40px;
  color: #000;
  font-weight: 600;

  @media (max-width:1500px) {
    font-size: 30px;
  }

  @media (max-width:1500px) {
    font-size: 30px;
  }

}

.de-business-text p {
  font-size: 20px;
  padding-right: 0;
  line-height: 29px;
  font-weight: 500;
  color: #000;
  max-width: 80%;

  @media (max-width:1100px) {
    font-size: 18px;
    line-height: 28px;
  }

  @media (max-width:667px) {
    max-width: 100%;
  }

}

.de-business-text.de-business-text-2 {
  padding-left: 45px;

  @media (max-width:667px) {
    padding-left: 15px;
  }

}

section.de-app-section {
  padding: 200px 0;

  @media (max-width:1100px) {
    padding: 120px 0;
  }

}

section.de-app-section h2 {
  color: #000;
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 140px;
span {
    color: #ff6161;
}
  @media (max-width:1450px) {
    font-size: 51px;
  }

  @media (max-width:1100px) {
    font-size: 30px;
  }

  @media (max-width:991px) {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

}

section.de-app-section p {
  font-size: 20px;
  line-height: 29px;
  font-weight: 600;
}

.de-app-btn-wrap {
  display: flex;
  justify-content: flex-start;
}

.de-app-btn-wrap a {
  padding-right: 20px;
}

.de-app-btn-wrap a img.img-fluid {
  max-width: 270px;

  @media (max-width:1500px) {
    max-width: 220px;
  }

  @media (max-width:480px) {
    max-width: 100%;
  }

}

.de-wrap-2 {
  margin-top: 130px;

  @media (max-width:1100px) {
    margin-top: 70px;
  }

}

.de-footer-logo p {
  font-size: 20px;
  margin-top: 30px;
  font-weight: 500;

  @media (max-width:1100px) {
    font-size: 16px;
  }

}

.de-footer-contact h2 {
  font-size: 60px;
  font-weight: 600;
  color: #000;
  position: relative;
  margin-bottom: 60px;

  @media (max-width:1100px) {
    font-size: 40px;
  }

  @media (max-width:991px) {
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 30px;
  }

}

.de-footer-contact h2:after {
  content: "";
  height: 12px;
  width: 120px;
  background-color: #ff6161;
  position: absolute;
  left: 0px;
  top: -20px;
  border-radius: 30px;
}

.de-footer-contact ul {
  padding: 0;
  margin: 0;
}

.de-footer-contact ul li {
  position: relative;
  font-size: 20px;
  list-style: none;
  margin-bottom: 30px;
  padding-left: 40px;
  font-weight: 500;
  color: #000;

  @media (max-width:1100px) {
    font-size: 16px;
  }

}

.de-footer-contact ul li img {
  position: absolute;
  left: 0;
  top: 0;
}

.de-footer-social h4 {
  font-size: 20px;
  font-weight: 500;
  color: #000;
  margin-bottom: 30px;

  @media (max-width:1100px) {
    font-size: 16px;
  }

}

.de-footer-social ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
}

.de-footer-social ul li {
  list-style: none;
  margin-right: 15px;
  margin-bottom: 20px;
}

a.de-footer-link {
  color: #4ab3b7;
  font-size: 20px;
}

footer.de-footer {
  position: relative;
  z-index: 9;
  overflow: hidden;
  padding-bottom: 120px;
  padding-top: 410px;
  margin-top: -170px;

  @media (max-width:1500px) {
    padding-top: 200px;
    margin-top: -170px;
    padding-bottom: 60px;
  }

  @media (max-width:767px) {
    padding-top: 80px;
  }

}

footer.de-footer:after {
  content: "";
  right: 0;
  top: 0;
  position: absolute;
  background: url("../images/f-bg-1.png");
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 600px;

  @media (max-width:1500px) {
    background-size: 400px;
  }

  @media (max-width:1250px) {
    background-size: 330px;
  }

  @media (max-width:480px) {
    background-size: 170px;
  }

}

footer.de-footer:before {
  content: "";
  left: 0;
  top: 0;
  position: absolute;
  background: url("../images/bg-16.png");
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;

  @media (max-width:1250px) {
    left: -50px;
  }

  @media (max-width:991px) {
    opacity: 0.2;
  }

}

.de-app-section img {
  max-width: 95%;

  @media (max-width:991px) {
    max-width: 100%;
  }

}

.de-footer-logo {
  margin-top: 50px;

  @media (max-width:1500px) {
    margin-top: 90px;
    padding-right: 50px;
  }

}

.navbar .navbar-toggler span:nth-child(1),
.navbar .navbar-toggler span:nth-child(2),
.navbar .navbar-toggler span:nth-child(3) {
  left: 13px !important;
  right: auto !important;
}

.navbar-toggler span:nth-child(1) {
  top: 13px !important;
}

.navbar-toggler span:nth-child(2) {
  top: 23px !important;
}

.navbar-toggler span:nth-child(3) {
  top: 33px !important;
}

.navbar .navbar-toggler.open span:nth-child(1) {
  left: 13px !important;
  top: 23px !important;
}

button.navbar-toggler.open + .navbar-collapse {
  display: block;
  margin-top: 20px;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
}

.navbar .navbar-toggler {
  @media (min-width:991px) {
    display: none;
  }

}

@media (max-width:991px) {
  .de-about-top-2 .col-12.col-lg-4 {
    order: 1;
  }

  .de-about-top-2 .col-12.col-lg-8 {
    order: 2;
  }

  .de-about-top-2 .de-about-top-2 .col-12.col-lg-8 {
    order: 1;
  }

}


header.de-header.sticky {
  position: fixed;
  z-index: 999;
  background-color: #fff;
  width: 100%;
  left: 0;
  top: 0;
  box-shadow: 0 0 30px 0 rgba(0,0,0,0.1);
  overflow: hidden;
  transition: all 0.2s;
}

header.de-header.sticky .navbar-brand img {
    max-width: 100px;
}

header.de-header.sticky .navbar-brand:after  {  
    display: none;
}

header.de-header.sticky .navbar-brand:before  {  
    display: none;
}

section.de-shape-section {
    z-index: -1;
}

@media (max-width: 1000px){
  nav.navbar.navbar-expand-lg a.navbar-brand img {
      max-width: 90px;
  }
}

.de-contact{
  h3{
    font-weight: 600;
    font-size: 35px;
    position: relative;
    @media (max-width: 640px){
      font-size: 24px;
    }
    &:before{
      position:absolute;
      content: '';
      border-bottom: solid 5px #ff6161;
      width: 170px;
      bottom: -20px;
      @include border-radius(100px);
      @media (max-width: 640px){
        width: 100px;
      }
    }
    &.de-grey{
      color: #C5C5C5;
       &:before{
        border-bottom: solid 5px #C5C5C5;
       }
    }
  }
  input[type="text"], input[type="email"], input[type="password"]{
    margin-bottom: 30px;
    
  }
  select{
    margin-bottom: 30px;
  }
  label{
    font-weight: 600;
  }
  .de-btn{
    padding: 20px 85px;
  }

  .styled-checkbox {
  position: absolute; // take it out of document flow
  opacity: 0; // hide it

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
  }

  // Box.
  & + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 24px;
    height: 24px;
    background: white;
    border: solid 2px #ccc;
  }

  // Box hover
  &:hover + label:before {
    background: #f35429;
  }
  
  // Box focus
  &:focus + label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
  }

  // Box checked
  &:checked + label:before {
    background: #f35429;
  }
  
  // Disabled state label.
  &:disabled + label {
    color: #b8b8b8;
    cursor: auto;
  }

  // Disabled box.
  &:disabled + label:before {
    box-shadow: none;
    background: #ddd;
  }

  // Checkmark. Could be replaced with an image
  &:checked + label:after {
    content: '';
    position: absolute;
    left: 7px;
    top: 14px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 
      2px 0 0 white,
      4px 0 0 white,
      4px -2px 0 white,
      4px -4px 0 white,
      4px -6px 0 white,
      4px -8px 0 white;
      transform: rotate(45deg);
    }
  }

  h4{
    margin: 40px 0;
    color: #000;
    font-size: 24px;
    font-weight: 600;
  }
  .radiobuttons{
    background:#F5F5F5;
    padding:15px 10px;
    margin-bottom: 60px;
    @include border-radius(10px); 
    @media (max-width: 640px){
      margin-bottom: 20px;
    }
    &.active{
      background:#ff6161;
    }
  }

  .rdio {
    position: relative;
    input[type="radio"] {
      opacity: 0;
    }
    label {
      padding-left: 15px;
      cursor: pointer;
      margin-bottom: 0 !important;
      font-size: 20px;
      @media (max-width: 640px){
        font-size: 16px;
      }
      &:before {
        width: 23px;
        height: 23px;
        position: absolute;
        top: 1px;
        left: 0;
        content: '';
        display: inline-block;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 50px;
        border: 3px solid #fff;
        background: #fff;
      }
    }
    input[type="radio"] {
        margin:0px;
      &:disabled + label {
        color: #999;
        &:before {
          background-color: #ff6161;
        }
      }
      &:checked + label::after {
        content: '';
        position: absolute;
        top: 7px;
        left: 6px;
        display: inline-block;
        width: 11px;
        height: 11px;
        background-color: #ff6161;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 50px;
      }
    }
  }

  .rdio-default input[type="radio"]:checked + label:before {
    border-color: #ff6161;
  }

  .rdio-primary input[type="radio"]:checked + label {
    &:before {
      border-color: #ff6161;
    }
    &::after {
      background-color: #ff6161;
    }
  }
}